/** reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

main {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2rem;
}

.app-name {
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
}

.app-des{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.book-list-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-primary{
    background-color: #007bff;
}

.btn-danger{
    background-color: #dc3545;
}

.new-book-dialog{
    font-size: 2rem;
}

.dialog-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.form-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
}

.form-item-label {
    width: 12rem;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.book-list {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.book-card{
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 20%;
    font-size: 2rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 4rem;
    font-weight: 700;
}

.book-list p {
    margin-bottom: 1rem;
    word-break: break-word;
}

.book-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: auto;
}

.book-des{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}